{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('result') }}" method=post class=form>
      <dl>
        <dt>Punkte Start:
        <dd><input type=text size=30 value="20" name=points_start>
        <dt>Punkte Ende:
        <dd><input type=text size=30 value="50" name=points_end>
        <dt>Faktor Note 6:
        <dd><input type=text size=30 value="0.082" name=factor_six>
        <dd><input type="radio" name="steps" value="quarter" checked>Viertel
            <input type="radio" name="steps" value="tenth">Zehntel
        <dd><input type=submit value=Los>
      </dl>
    </form>
    <div class=footer>&copy; Marc Schlaich, 2014</div>
{% endblock %}
